.body {
  position: relative;
  background-color: var(--black);
  padding: var(--padding-main);
  z-index: 10;
}
.body h1 {
  width: 100%;
  font-size: 9svw;
  text-align: center;
  color: var(--grey);
  font-family: var(--body-style);
  letter-spacing: -10px;
  padding: 1rem;
  opacity: 0.25;
}
.menugrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}
.menubox {
  width: 100%;
  min-height: 100px;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.menubox h2 {
  display: block;
  font-size: var(--font-size-small);
  color: var(--white);
  font-weight: 600;
}
.menubox a {
  text-decoration: none;
  color: var(--white);
  transition: var(--transition-normal);
  font-size: var(--font-size-small);
  font-weight: 100;
  opacity: 0.5;
}
.menubox a:hover {
  color: var(--color-secondary);
  transition: var(--transition-normal);
  opacity: 1;
}

.menubox form {
  width: 100%;
  padding: 1rem;
}
.menubox form label {
  margin-bottom: 1rem;
  display: block;
  color: var(--white);
  font-weight: 600;
}

.socialbox {
  padding: 0.75rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}
.socialbox a svg {
  width: 18px;
  height: 18px;
}

@media (max-width: 1000px) {
}

@media (max-width: 500px) {
  .body {
    padding: var(--padding-main-mobile);
  }
  .body h1 {
    font-size: 10vw;
    letter-spacing: 1.5px;
  }
  .menugrid {
    grid-template-columns: 1fr;
  }
}
