.head {
  width: 100%;
  height: 40svh;
  background: rgba(34, 34, 34, 0.5);
  background-image: url("/stock-img04.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay; /* Ensures the color blends with the image */
}

.hero {
  width: 100%;
  min-height: 80svh;
  position: relative;
  display: flex;
}
.hero .white {
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: var(--white);
  right: 0;
}
.main {
  width: 60%;
  padding: 1.5rem 3.5rem;
  background: linear-gradient(
      to bottom,
      rgba(207, 53, 46, 0.5),
      rgba(30, 30, 30, 1)
    ),
    url("https://d1fufvy4xao6k9.cloudfront.net/images/lookbook/pitti-uomo-summer-23/dkt_4.jpg");
  background-size: cover;
  /* background-blend-mode: overlay; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main h1 {
  width: 100%;
  font-size: var(--font-size-subhead);
  color: var(--white);
  margin-bottom: 1rem;
}
.main h4 {
  font-weight: 300;
  font-size: var(--font-size-text);
  color: var(--white);
}

.formbox {
  width: 40%;
  min-height: 50svh;
  z-index: 1;
  padding: 1rem;
  background-color: var(--white);
}

.form {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.75rem;
}
.inputbox {
  width: 100%;
  height: 100%;
}
.inputbox input {
  width: 100%;
  height: 100%;
  outline: none;
  background-color: transparent;
  border: none;
  border: solid 0.5px var(--black);
  border-radius: 10px;
  color: var(--black);
  padding: 0.5rem;
}
.inputbox textarea {
  width: 100%;
  height: 175px;
  border: solid 0.5px var(--black);
  background-color: transparent;
  padding: 0.5rem;
  outline: none;
  resize: none;
  border-radius: 10px;
}

.submitButton {
  padding: var(--button-padding);
  border: none;
  border-radius: var(--border-rad-medium);
  background-color: var(--black);
  color: var(--white);
  transition: var(--transition-normal);
  cursor: pointer;
}
.submitButton:hover {
  background-color: var(--color-main);
  color: var(--white);
  transition: var(--transition-normal);
}

.error {
  color: var(--color-main);
  display: block;
  text-align: center;
}

.consultant_selector_box {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.consultant_selector_box h2 {
  color: var(--color-main);
  margin-bottom: 1.5rem;
}

.stylist {
  padding: 1rem;
  width: 300px;
  border: none;
  border-radius: 7.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: transparent;
  border: solid 0.5px var(--grey-tone);
  cursor: pointer;
}
.stylist img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.stylist big {
  font-size: 20px;
  font-weight: 700;
  color: var(--black);
}
.stylist p {
  font-weight: 300;
  font-size: 14px;
  color: var(--color-main);
}
.stylist small {
  font-weight: 200;
  color: var(--grey);
}
.stylist span {
  font-size: 10px;
  background-color: var(--color-main);
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  color: var(--white);
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.stylist span svg {
  width: 10px;
}

/* Tablet */
@media (max-width: 1000px) {
  /* Tablet Styles */
  /* Adjust styles as needed */
  .white {
    display: none;
  }

  .hero {
    flex-direction: column;
  }

  .formbox {
    width: 100%;
  }

  .main h1 {
    width: 100%;
  }
  .main h4 {
    font-weight: 300;
    font-size: var(--font-size-text-mobile);
    color: var(--white);
  }

  .hero .main {
    width: 100%;
    height: 40svh;
  }
}

/* Cellphone */
@media (max-width: 500px) {
  /* Mobile Styles */
  /* Adjust styles as needed */
  .hero {
    flex-direction: column;
  }
  .hero .main {
    width: 100%;
    padding: 1.5rem;
    gap: 1rem;
  }
  .main h1 {
    text-align: center;
  }
  .main h4 {
    text-align: center;
  }

  .formbox {
    width: 100%;
  }
}
