.menubar {
  padding: var(--padding-navigation);
  opacity: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5; /* MAX LEVEL 10 */

  display: flex;
  align-items: center;
  justify-content: space-between;

  animation: var(--slidedown);
  animation-delay: 0.5s;

  height: 10%;
  transition: var(--transition-normal);
}
.menubar:hover {
  background-color: var(--white);
  transition: var(--transition-normal);
}
.menubar:hover .menuButton {
  color: var(--black);
  transition: var(--transition-normal);
}
.menubar:hover .logo {
  color: var(--black);
  transition: var(--transition-normal);
}
.menubar:hover .shop {
  color: var(--black);
  transition: var(--transition-normal);
}
.menubar:hover #logo {
  content: url("/logo2.svg");
}

.menubarsolid {
  padding: var(--padding-navigation);
  opacity: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5; /* MAX LEVEL 10 */

  display: flex;
  align-items: center;
  justify-content: space-between;

  animation: var(--slidedown);
  animation-delay: 0.5s;

  height: 10%;
  transition: var(--transition-normal);
  background-color: var(--white);
}
.menubarsolid .logo {
  color: var(--black);
}
.menubarsolid .menuButton {
  color: var(--black);
}
.menubarsolid .shop {
  color: var(--black);
}

.logo {
  font-family: var(--secondary-font);
  font-size: var(--font-size-subhead);
  transition: var(--transition-normal);
  transition: var();
  text-decoration: none;
  color: var(--white);
}
.logo:hover {
  transition: var(--transition-normal);
  color: var(--color-secondary) !important;
}
.logo:hover img {
  transition: var(--transition-normal);
}

.menuButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: var(--transition-normal);
  color: var(--white);
}
.menuButton:hover {
  transition: var(--transition-normal);
  color: var(--color-secondary) !important;
}
.menuButton svg {
  width: 25px;
  height: 25px;
}
.menubar h1 {
  font-family: var(--secondary-font);
}
.shop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  color: var(--white);
  transition: var(--transition-normal);
}
.megamenu {
  position: fixed;
  z-index: 6;
  width: 100%;
  bottom: 0;
  height: 90%;
  background-color: var(--white);
  padding: 1.5rem;
  transition: var(--transition-normal);
  display: flex;
}
.megamenuclosed {
  position: fixed;
  z-index: 6;
  width: 100%;
  height: 90%;
  background-color: var(--white);
  padding: 1.5rem;
  bottom: -100%;
  transition: var(--transition-normal);
  display: flex;
}

.megamenulist {
  width: 60%;
  height: 100%;
}
.menuimg {
  width: 40%;
  height: 100%;
  object-fit: cover;
}

.mainmenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  padding: 0 1.5rem;
}
.mainmenu h1 {
  font-weight: 200;
  width: 100%;
  font-size: var(--font-size-subhead);
  padding: 0.75rem 0;
  border-bottom: solid 1px var(--black);
  color: var(--black);
}

/* Cellphone */
@media (max-width: 500px) {
  /* Mobile Styles */
  /* Adjust styles as needed */
  .menubar {
    flex-direction: row-reverse;
  }
  .menubarsolid {
    flex-direction: row-reverse;
  }
  .shop {
    display: none;
  }

  .megamenu {
    padding: 0.75rem;
  }
  .menuimg {
    display: none;
  }
  .megamenulist {
    width: 100%;
  }
  .mainmenu h1 {
    font-size: var(--font-size-subhead-mobile);
    font-weight: 400;
  }
}
