.menubar {
  background-color: var(--white);
  padding: var(--padding-navigation);
  opacity: 0;
  width: 100%;
  z-index: 5; /* MAX LEVEL 10 */

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  animation: var(--slidedown);
  animation-delay: 0.5s;

  height: 10%;
  transition: var(--transition-normal);
}
.menubar button {
  display: none;
}

.menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  list-style: none;
  /* border: solid 3px red; */
}
.menu a {
  text-decoration: none;
  color: var(--black);
  transition: var(--transition-normal);
  padding: 0.35rem;
}
.menu a:hover {
  transition: var(--transition-normal);
  color: var(--color-main);
}

.logo {
  width: 55px;
  height: 55px;
  transition: var(--transition-normal);
  text-decoration: none;
  color: var(--white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
}
.logo:hover {
  transition: var(--transition-normal);
  color: var(--color-secondary) !important;
}
.logo img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.menuButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: var(--transition-normal);
  color: var(--white);
}
.menuButton:hover {
  transition: var(--transition-normal);
  color: var(--color-secondary) !important;
}
.menuButton svg {
  width: 25px;
  height: 25px;
}
.menubar h1 {
  font-family: var(--secondary-font);
}
.shop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  color: var(--white);
  transition: var(--transition-normal);
}

.shop a {
  background-color: var(--color-main);
  color: var(--white);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: var(--button-padding);
  border-radius: var(--border-rad-large);
  transition: var(--transition-normal);
}
.shop a:hover {
  transition: var(--transition-normal);
  background-color: var(--white);
  border: solid 1px var(--color-main);
  color: var(--color-main);
}
.shop a svg {
  width: 16px;
  height: 16px;
}

.mainmenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5rem 1.5rem;
  gap: 1.5rem;
}
.mainmenu h1 {
  font-weight: 600;
  width: 100%;
  font-size: var(--font-size-subtitle);
  padding: 0.5rem 0;
  /* border-bottom: solid 1px var(--black); */
  color: var(--black);
}

.mobileMenuClosed {
  position: fixed;
  width: 300px;
  height: 100svh;
  background-color: var(--white);
  right: -300px;
  z-index: 3;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-items: flex-start;
  gap: 2rem;
  transition: var(--transition-normal);
}

.mobileMenu {
  position: fixed;
  width: 300px;
  height: 100svh;
  background-color: var(--color-main);
  right: 0;
  z-index: 3;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-items: flex-start;
  transition: var(--transition-normal);
  gap: 2rem;
}
.mobileMenuClosed a {
  width: 100%;
  display: block;
  text-decoration: none;
  font-size: var(--font-size-sub);
  color: var(--white);
  padding: 0.5rem 1rem;
  text-align: right;
}
.mobileMenuClosed button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: none;
  background-color: var(--color-main);
  color: var(--white);
  transition: var(--transition-normal);
  cursor: pointer;
}
.mobileMenu a {
  width: 100%;
  display: block;
  text-decoration: none;
  font-size: var(--font-size-sub);
  color: var(--white);
  padding: 0.5rem 1rem;
  text-align: right;
}
.mobileMenu button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: none;
  background-color: var(--color-main);
  color: var(--white);
  transition: var(--transition-normal);
  cursor: pointer;
}

/* Cellphone */
@media (max-width: 500px) {
  /* Mobile Styles */
  /* Adjust styles as needed */
  .menubar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .menubar button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;

    border: none;
    background-color: var(--color-main);
    color: var(--white);
    transition: var(--transition-normal);
    cursor: pointer;
  }

  .menu {
    display: none;
  }
  .shop {
    display: none;
  }
}
