/* Font Inclusions */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* CSS Root Variables Template */

:root {
  /* Shade Variables */
  --white: #fffafa;
  --black: #1e1e1e;
  --grey: #808080;
  --grey-tone: #f0f0f0;

  /* Color Variables */
  --color-main: #cf352e;
  --color-secondary: #fff;
  /* --color-tertiary: ;
  --color-accent: ;
  --color-neutral: ; */

  /* Border Radii */
  --border-rad-large: 25px;
  --border-rad-medium: 12.5px;
  --border-rad-small: 5px;

  /* Padding */
  --padding-main: 2.5rem;
  --padding-main-mobile: 0.5rem 1rem;
  --padding-navigation: 1.25rem 1.5rem;
  --padding-navigation-mobile: 1rem;

  /* Button Padding */
  --button-padding: 0.75rem 1.75rem;
  --button-padding-mobile: 0.5rem 0.75rem;

  /* Font Families */
  --body-style: "Poppins", sans-serif;

  /* Font Sizing */
  --font-size-heading: 6.5rem;
  --font-size-heading-mobile: 3.5rem;

  --font-size-heading-max: calc(var(--font-size-heading) * 1.5);
  --font-size-heading-max-mobile: calc(var(--font-size-heading-mobile) * 1.5);

  --font-size-head: calc(var(--font-size-heading) * 0.85);
  --font-size-head-mobile: calc(var(--font-size-heading-mobile) * 0.85);

  --font-size-subtitle: calc(var(--font-size-heading) * 0.66);
  --font-size-subtitle-mobile: calc(var(--font-size-heading-mobile) * 0.66);

  --font-size-subhead: calc(var(--font-size-heading) * 0.43);
  --font-size-subhead-mobile: calc(var(--font-size-heading-mobile) * 0.43);

  --font-size-text: calc(var(--font-size-heading) * 0.22);
  --font-size-text-mobile: calc(var(--font-size-heading-mobile) * 0.22);

  --font-size-small: calc(var(--font-size-heading) * 0.13);
  --font-size-small-mobile: calc(var(--font-size-heading-mobile) * 0.13);

  /* Transition and Effects */
  --transition-fast: 0.3s ease-in-out;
  --transition-normal: 0.5s ease-in-out;

  --box-shadow-light: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  --box-shadow-heavy: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);

  /* Animations */
  --slidedown: slidedown 2s ease forwards;
  --fadein: fadein 3s ease-in-out forwards;
  --menu-animate: menuanimate 1s ease-in-out forwards;
}

/* Base Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  scroll-behavior: smooth;
}

/* Component and Utility Styles */

.inputbox {
  width: 100%;
  border-bottom: solid 1px var(--white);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem 0;
}
.inputbox input {
  width: 75%;
  padding: 0.5rem 0;
  background-color: transparent;
  border: none;
  color: var(--white);
  font-size: var(--font-size-small);
  font-family: var(--body-style-font);
  font-weight: 100;
  outline: none;
}
.inputbox button {
  background-color: transparent;
  border: none;
  color: var(--white);
  transition: var(--transition-normal);
  cursor: pointer;
}
.inputbox button:hover {
  transition: var(--transition-normal);
  color: var(--color-secondary);
}
.inputbox button svg {
  width: 30px;
  height: 30px;
}

body {
  background-color: var(--black);
}

.tag,
.tag-small {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  font-size: var(--font-size-text);
  border-radius: var(--border-radius-small);
  cursor: pointer;
}

.tag-small {
  padding: 0.1rem 0.5rem;
  font-size: calc(var(--font-size-text) * 0.8);
}

.logo {
  text-align: center;
  color: var(--black);
  text-decoration: none;
  transition: var(--transition-normal);
}
.logo:hover {
  color: var(--color-secondary);
  transition: var(--transition-normal);
}
.logo p {
  font-family: var(--secondary-font);
  font-size: var(--font-size-text);
}

.thankyou {
  width: 100%;
  height: 80svh;
  background: rgba(34, 34, 34, 0.99);
  background-image: url("/stock-img06.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay; /* Ensures the color blends with the image */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.thankyou h1 {
  color: var(--white);
  font-size: var(--font-size-subtitle);
  text-align: center;
  margin-bottom: 1rem;
}
.thankyou p {
  width: 80%;
  text-align: center;
  color: var(--white);
}
.thankyou p a {
  color: var(--color-main);
  transition: var(--transition-normal);
}
.thankyou p a:hover {
  color: var(--white);
  transition: var(--transition-normal);
}

/* Animations */
@keyframes slidedown {
  from {
    opacity: 0;
    top: -100%;
  }
  to {
    opacity: 1;
    top: 0%;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes menuanimate {
  from {
    opacity: 0;
    bottom: -100%;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}

/* Page Transitions */
.page-transition {
  opacity: 0;
  animation: fadein 2s ease-in-out forwards;
  animation-fill-mode: both;
}

/* Media Queries for Responsive Adjustments */

/* Main */
@media (min-width: 1200px) {
  /* Tablet Styles */
  /* Adjust styles as needed */
}

/* Tablet */
@media (max-width: 1000px) {
  /* Tablet Styles */
  /* Adjust styles as needed */
  .logo p {
    font-size: var(--font-size-subhead);
  }
}

/* Cellphone */
@media (max-width: 500px) {
  /* Mobile Styles */
  /* Adjust styles as needed */
  .logo p {
    font-size: var(--font-size-subhead-mobile);
  }
  .main-button {
    font-size: 0.95rem;
  }
  .menulink {
    font-size: var(--font-size-text-mobile);
  }
}
