.hero {
  height: 85svh;
  background-color: var(--white);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-main);
}
.hero img {
  display: block;
  position: absolute;
  width: 100%;
  height: 85svh;
  object-fit: cover;
  filter: saturate(0);
  top: 0;
  left: 0;
}
#desktop_img {
  display: block;
}
#cellphone_img {
  display: none;
}

.hero h1 {
  font-size: var(--font-size-head);
  line-height: 1;
  font-weight: 600;
  opacity: 0;
  color: var(--white);
  z-index: 2;

  animation: var(--fadein);
  animation-delay: 0.5s;
  margin-bottom: 0.75rem;
}
.hero a {
  z-index: 2;
}

.material {
  min-height: 50svh;
  background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--padding-main);
  gap: 1rem;
}
.material .info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  color: var(--black);
}
.material .info h3 {
  font-size: var(--font-size-subhead);
}
.material .info .text {
  font-size: var(--font-size-text);
  line-height: 1.75;
  font-weight: 300;
  width: 90%;
}
.material img {
  width: 100%;
  height: 70svh;
  object-fit: cover;
}

.featured {
  min-height: 100svh;
  background-color: var(--white);
  position: relative;
  padding: var(--padding-main);
}
.featured .front {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
  object-fit: contain;
  z-index: 2;
}
.featured .back {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 0;
}

.infoboxmain {
  width: 60%;
  padding: 1rem;
  position: absolute;
  left: 5%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.infoboxmain h3 {
  font-size: 8.5svw;
  color: var(--white);
  z-index: 3;
}
.infoboxmain p {
  font-size: 1.15rem;
  font-weight: 300;
  line-height: 1.75;
  width: 80%;
  color: var(--white);
  z-index: 3;
}
.infoboxsub {
  width: 45%;
  padding: 1rem;
  position: absolute;
  right: 2.5%;
  top: 18%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
}
.infoboxsub h3 {
  width: 100%;
  font-size: 9svw;
  color: var(--white);
  margin-bottom: 1rem;
}
.infoboxsub p {
  font-size: 1.15rem;
  font-weight: 300;
  text-align: right;
  line-height: 2;
  width: 80%;
  color: var(--white);
  z-index: 3;
}
.infoboxsub a {
  z-index: 3;
}

.mobileinfo {
  display: none;
}

.promotion {
  min-height: 65svh;
  background-color: var(--color-main);
  padding: var(--padding-main);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}
.promotion img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.promotion h3 {
  font-size: var(--font-size-subtitle);
  color: var(--color-secondary);
  text-align: center;
  z-index: 2;
}

.reviews {
  padding: var(--padding-main);
  background-color: var(--white);
}
.reviews h3 {
  width: 100%;
  text-align: center;
  font-size: var(--font-size-subhead);
  color: var(--black);
}
.reviewbox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1.5rem;
}
.review {
  background-color: var(--grey-tone);
  padding: 1.5rem 2.5rem;
}
.review h4 {
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 0.75rem;
}
.review p {
  color: var(--grey);
  font-weight: 300;
  font-size: var(--font-size-small);
  margin-bottom: 0.5rem;
}
.review span {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
  color: var(--color-main);
}
.review span svg {
  width: 15px;
  height: 15px;
}

@media (max-width: 1000px) {
  /* Tablet Styles */
  /* Adjust styles as needed */
  /* .infoboxsub h3,
   */
  .featured .front {
    height: 70%;
    width: 75%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    z-index: 2;
  }
  .material {
    grid-template-columns: 1fr;
  }
  .infoboxsub {
    display: none;
  }
  .infoboxmain {
    display: none;
  }
  .featured {
    min-height: 75svh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobileinfo {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }
  .mobileinfo h3 {
    font-size: var(--font-size-subtitle);
    text-align: center;
    color: var(--white);
    margin-bottom: 0.75rem;
  }
  .mobileinfo p {
    color: var(--white);
    font-size: var(--font-size-text);
    font-weight: 400;
    text-align: center;
    line-height: 1.75;
    margin-bottom: 1rem;
    backdrop-filter: blur(5px);
    padding: 0.75rem 0;
  }
  .featured .front {
    height: 70%;
    width: 95%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    z-index: 2;
  }
}

@media (max-width: 500px) {
  /* Mobile Styles */
  /* Adjust styles as needed */
  .hero {
    align-items: center;
    justify-content: center;
  }
  .hero h1 {
    text-align: center;
  }

  .material {
    padding: var(--padding-main-mobile);
    gap: 1rem;
  }
  .material .info {
    width: 100%;
    padding: 1rem 0;
  }

  .material .info .text {
    font-size: var(--font-size-text-mobile);
    line-height: 2;
    font-weight: 300;
    width: 100%;
  }
  .material img {
    height: 40svh;
    margin-bottom: 1.5rem;
  }

  .promotion h3 {
    font-size: var(--font-size-subtitle-mobile);
  }

  .reviews {
    padding: var(--padding-main-mobile);
  }
  .reviews h3 {
    margin-block: 1rem;
  }

  #desktop_img {
    display: none;
  }
  #cellphone_img {
    display: block;
  }
}
