.hero {
  height: 95svh;
  background-color: var(--white);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-main);
}
.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  filter: saturate(0);
}
.hero h1 {
  font-size: var(--font-size-subtitle);
  font-weight: 500;
  opacity: 0;
  color: var(--white);
  z-index: 2;

  animation: var(--fadein);
  animation-delay: 0.5s;
}
.hero a {
  z-index: 2;
}

.material {
  min-height: 50svh;
  background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--padding-main);
  gap: 1rem;
}
.material .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  color: var(--black);
}
.material .info h3 {
  font-size: var(--font-size-subhead);
}
.material .info .text {
  font-size: var(--font-size-small);
  line-height: 2;
  font-weight: 100;
  width: 90%;
}

.material img {
  width: 100%;
  height: 70svh;
  -webkit-box-shadow: 8px 8px 5px -1px rgba(0, 0, 0, 0.59);
  box-shadow: 8px 8px 5px -1px rgba(0, 0, 0, 0.59);
  object-fit: cover;
}

.featured {
  min-height: 100svh;
  background-color: var(--white);
  position: relative;
  padding: var(--padding-main);
}
.featured .front {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
  object-fit: contain;
  z-index: 2;
}
.featured .back {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 0;
}

.infoboxmain {
  width: 60%;
  padding: 1rem;
  position: absolute;
  left: 5%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.infoboxmain h3 {
  font-size: 8.5svw;
  color: var(--white);
  z-index: 3;
}
.infoboxmain p {
  font-size: var(--font-size-small);
  font-weight: 300;
  line-height: 2;
  width: 60%;
  color: var(--white);
}

.infoboxsub {
  width: 45%;
  padding: 1rem;
  position: absolute;
  right: 2.5%;
  top: 18%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
}
.infoboxsub h3 {
  width: 100%;
  font-size: 9svw;
  color: var(--white);
  margin-bottom: 1rem;
}
.infoboxsub p {
  font-size: var(--font-size-small);
  font-weight: 300;
  text-align: right;
  line-height: 2;
  width: 60%;
  color: var(--white);
}
.infoboxsub a{
  z-index: 3;
}

.mobileinfo {
  display: none;
}

.promotion {
  min-height: 65svh;
  background-color: var(--color-main);
  padding: var(--padding-main);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}
.promotion img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.promotion h3 {
  font-size: var(--font-size-subtitle);
  color: var(--color-secondary);
  text-align: center;
  z-index: 2;
}

@media (max-width: 1000px) {
  /* Tablet Styles */
  /* Adjust styles as needed */
  /* .infoboxsub h3,
   */
  .featured .front {
    height: 70%;
    width: 75%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    z-index: 2;
  }
  .material {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  /* Mobile Styles */
  /* Adjust styles as needed */
  .hero {
    align-items: center;
    justify-content: center;
  }
  .hero h1 {
    font-size: var(--font-size-subtitle-mobile);
    text-align: center;
  }

  .material {
    padding: var(--padding-main-mobile);
    gap: 1rem;
  }
  .material .info {
    width: 100%;
    padding: 1rem 0;
  }
  .material .info h3 {
    font-size: var(--font-size-subhead-mobile);
  }
  .material .info .text {
    font-size: var(--font-size-text-mobile);
    line-height: 2;
    font-weight: 100;
    width: 90%;
  }
  .material img{
    height: 40svh;
    margin-bottom: 1.5rem;
  }
 

  .infoboxsub {
    display: none;
  }
  .infoboxmain {
    display: none;
  }
  .featured {
    min-height: 75svh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .mobileinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }
  .mobileinfo h3{
    font-size: var(--font-size-subtitle-mobile);
    text-align: center;
    color: var(--white);
    margin-bottom: 0.75rem;
  }
  .mobileinfo p{
    color: var(--white);
    font-size: var(--font-size-text-mobile);
    text-align: center;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  .featured .front {
    height: 70%;
    width: 95%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    z-index: 2;
  }

  .promotion h3{
    font-size: var(--font-size-subtitle-mobile);
  }
}
