.header {
  width: 100%;
  height: 90svh;
  background: url("/stock-img06.svg");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 2.75rem;
}
.infobox {
  width: 100%;
  height: 75svh;
  margin-top: 2.5rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  backdrop-filter: blur(3.5px);
  padding: 1.25rem;
  /* border: dotted 2px red; */
}
.infobox h1 {
  color: var(--white);
  font-size: var(--font-size-head);
}
.infobox p {
  font-size: 1.05rem;
  font-weight: 400;
  width: 60%;
  color: var(--white);
  line-height: 2;
  margin-bottom: 1rem;
}

.catalog {
  background-color: var(--white);
  min-height: 75svh;
  position: relative;
}

.nav {
  width: 100%;
  padding: var(--padding-navigation);
  box-shadow: var(--box-shadow-heavy);

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}
.nav .options button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  text-decoration: none;
  color: var(--black);
  transition: var(--transition-normal);
  font-size: 1rem;
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 300;
}
.nav .options button svg {
  width: 14px;
  height: 14px;
}
.nav .options button:hover {
  color: var(--color-main);
  transition: var(--transition-normal);
}

.searchbox {
  min-width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--grey-tone);
  padding: 0.5rem 0.75rem;
  position: relative;
}
.searchbox input {
  border: none;
  background-color: transparent;
  color: var(--black);
  width: 100%;
  outline: none;
}
.searchbox .dropdown {
  width: 350px;
  height: 250px;
  position: absolute;
  z-index: 10;

  top: 25px;
  right: 0;

  background-color: var(--grey-tone);
  overflow-y: scroll;

  padding: 0.75rem 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.65rem;
}
.dropdown .item {
  border: none;
  padding: 0.5rem;
  width: 100%;
  border-block: solid 0.5px var(--grey);

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  transition: var(--transition-normal);
}
.dropdown .item:hover {
  transition: var(--transition-normal);
  background-color: var(--color-main);
  border-block: solid 0.5px var(--white);
}
.dropdown .item:hover small {
  color: var(--white);
  transition: var(--transition-normal);
}
.dropdown .item:hover img {
  border: solid 0.5px var(--white);
}
.dropdown .item img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: solid 0.5px var(--grey);
}
.dropdown .item small {
  color: var(--grey);
  text-align: right;
}
.searchbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}
.searchbtn svg {
  width: 15px;
  height: 15px;
}

.loading {
  padding: var(--padding-main);
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  gap: 1rem;

  min-height: 75svh;
}
.loading svg {
  color: var(--color-primary);
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
.loading p {
  color: var(--black);
  animation: pulse 2s linear infinite;
}

.productbox {
  padding: var(--padding-main);

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.peek {
  border: solid 0.5px var(--grey);
  height: min-content;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--black);
  transition: var(--transition-normal);
  cursor: pointer;
}
.peek span {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0.25rem 1rem;
  background-color: var(--color-main);
  color: var(--white);
  border-radius: var(--border-rad-medium);
  font-size: 10px;
  z-index: 1;
}
.peek .info {
  width: 100%;
  background-color: var(--white);
  padding: 0.75rem 0;
}
.peek .info p {
  width: 100%;
  padding: 0.25rem 0.5rem;
  text-align: left;
  color: var(--black);
}
.peek .info small {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0.25rem 0.5rem;
  color: var(--black);
}
.peek img {
  opacity: 0.5;
  height: 450px;
  width: 100%;
  object-fit: cover;
  transition: var(--transition-normal);
}
.peek .desc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  width: 80%;
  height: 40%;
  color: var(--white);
  transition: var(--transition-normal);
  font-size: 14px;
  font-weight: 200;
  line-height: 1.75;
  opacity: 0;
}
.peek:hover {
  box-shadow: var(--box-shadow-heavy);
}
.peek:hover img {
  opacity: 0.2;
}
.peek:hover .desc {
  opacity: 1;
}

/* Modal */
.modal {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100svh;
  backdrop-filter: blur(3.5px);
  background-color: rgba(0, 0, 0, 0.85);
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .controlbox {
  margin-top: 3.25rem;
  width: 85%;
  height: 85svh;
  background-color: var(--white);
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  z-index: 10000;
}
.controlbox .closebtn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  cursor: pointer;

  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}
.closebtn svg {
  width: 16px;
  height: 16px;
}
.controlbox .viewbox {
  width: 100%;
  height: 70svh;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.gallerybox {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.gallerybox .current {
  width: 100%;
  min-height: 90%;
  object-fit: cover;
}
.gallerybox .selectionbox {
  width: 100%;
  min-height: 10%;
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
}
.selectionbox .imageButton {
  width: 75px;
  height: 75px;
  border: none;
  cursor: pointer;
  transition: var(--transition-normal);
  background-color: var(--black);
}
.imageButton img {
  width: 100%;
  height: 100%;
  transform: var(--transition-normal);
  object-fit: cover;
}
.imageButton:hover img {
  transition: var(--transition-normal);
  opacity: 0.25;
}

.viewSelect {
  width: 60%;
  height: 100%;
  padding: 1rem;
  overflow-y: scroll;
  animation: slideUpFadeIn 0.5s ease-in-out forwards;
}
.viewSelect h2 {
  color: var(--grey);
  padding: 0.5rem 0;
  border-bottom: solid 0.5px var(--grey);
}
.viewSelect .tag {
  background-color: var(--color-main);
  padding: 0.25rem 0.75rem;
  border-radius: var(--border-rad-medium);
  color: var(--white);
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.productDescription {
  width: 100%;
  padding: 1rem 0;
}
.productDescription p {
  line-height: 2;
  font-weight: 200;
  margin-bottom: 0.5rem;
  color: var(--black);
}
.productDescription small {
  line-height: 2;
  font-weight: 200;
  margin-bottom: 0.5rem;
  color: var(--grey);
}

.materialSelect {
  padding: 0.75rem 0;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem;
}
.materialSelect button {
  width: 75px;
  min-height: 75px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
  gap: 0.25rem;
  transition: var(--transition-normal);
}
.materialSelect button:hover {
  transition: var(--transition-normal);
  background-color: var(--color-main);
  color: var(--white);
  box-shadow: var(--box-shadow-heavy);
}
.materialSelect button:hover small {
  color: var(--white);
}
.materialSelect button img {
  width: 75px;
  height: 55px;
  object-fit: cover;
}
.materialSelect button small {
  color: var(--black);
  padding: 1px 0;
}
.materialSelect button.selected {
  /* Add your selected styles here */
  box-shadow: var(--box-shadow-heavy);
  background-color: var(--color-main);
  color: var(--white);
}
.materialSelect button.selected small {
  color: var(--white);
}

.clrSelect {
  padding: 0.75rem 0;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem;
}
.clrSelect button {
  width: 50px;
  min-height: 50px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
  gap: 0.25rem;
  transition: var(--transition-normal);
  /* border: solid 0.5px var(--grey); */
  border: none;
}
.clrSelect button small {
  padding: 1px 0;
}
.clrSelect button.selected {
  border: solid 2px var(--color-main);
  box-shadow: var(--box-shadow-heavy);
}

.styleSelect {
  padding: 0.75rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem;
}
.styleSelect button {
  min-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.25rem 0.75rem;
  border: none;
  color: var(--grey);
  cursor: pointer;
  transition: var(--transition-normal);
}
.styleSelect button:hover {
  background-color: var(--color-main);
  color: var(--white);
  transition: var(--transition-normal);
}
.styleSelect button.selected {
  background-color: var(--color-main);
  color: var(--white);
  box-shadow: var(--box-shadow-heavy);
}

.viewSelect textarea {
  width: 100%;
  min-height: 200px;
  margin: 1rem 0;
  outline: none;
  border: solid 0.5px var(--grey);
  resize: none;
  padding: 0.75rem;
  background-color: transparent;
  color: var(--black);
}

.nextbutton {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  border: none;
  color: var(--grey);
  cursor: pointer;
  transition: var(--transition-normal);
}
.nextbutton:hover {
  background-color: var(--color-main);
  color: var(--white);
  transition: var(--transition-normal);
  box-shadow: var(--box-shadow-heavy);
}

.infoSelect {
  width: 60%;
  height: 100%;
  padding: 1rem;
  overflow-y: scroll;
  animation: slideUpFadeIn 0.5s ease-in-out forwards;
}
.infoSelect h2 {
  color: var(--grey);
  padding: 0.5rem 0;
  border-bottom: solid 0.5px var(--grey);
}
.infoSelect form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  padding: 1rem 0;
}
.infoSelect form input {
  outline: none;
  width: 100%;
  padding: 0.75rem 0.15rem;
  background-color: transparent;
  border: none;
  border-bottom: solid 0.5px var(--grey);
}
.loadingbox {
  width: 60%;
  height: 100%;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonbox {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.thankyou {
  width: 60%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.thankyou .tag {
  background-color: var(--color-main);
  padding: 0.25rem 0.75rem;
  border-radius: var(--border-rad-medium);
  color: var(--white);
  font-size: 12px;
  font-weight: 100;
}
.thankyou h2 {
  color: var(--grey);
  font-size: var(--font-size-subhead);
  text-align: center;
}
.thankyou p {
  text-align: center;
  width: 80%;
  font-weight: 200;
  line-height: 1.75;
  color: var(--black);
}
.thankyou p a {
  color: var(--color-main);
  transition: var(--transition-normal);
}
.thankyou p a:hover {
  color: var(--black);
  transition: var(--transition-normal);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 500px) {
  /* Mobile Styles */
  /* Adjust styles as needed */
  .nav {
    flex-direction: column;
    gap: 1.5rem;
  }
  .nav .options button {
    font-size: 12px;
  }

  .searchbox {
    width: 100%;
  }
  .searchbox .dropdown {
    width: 100%;
  }

  .infobox h1 {
    font-size: var(--font-size-head-mobile);
  }
  .infobox p {
    width: 100%;
    font-size: var(--font-size-text-mobile);
    line-height: 2.75;
  }
  .modal .controlbox {
    padding: 0.75rem;
  }
  .viewSelect {
    padding: 0;
  }

  .viewbox {
    flex-direction: column;
  }
  .viewbox img {
    width: 100%;
    height: 25svh;
  }
  .viewbox .viewSelect {
    width: 100%;
  }
  .viewbox .infoSelect {
    width: 100%;
  }
  .materialSelect {
    gap: 0.35rem;
  }
  .clrSelect {
    gap: 0.35rem;
  }

  .thankyou {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
  }
  .thankyou h2 {
    color: var(--grey);
    width: 100%;
    display: block;
    font-size: 20px;
  }
  .thankyou p {
    text-align: center;
    width: 100%;
    font-weight: 200;
    line-height: 1.5;
    color: var(--black);
    font-size: 14px;
  }
  .thankyou p a {
    color: var(--color-main);
    transition: var(--transition-normal);
  }
  .thankyou p a:hover {
    color: var(--black);
    transition: var(--transition-normal);
  }

  .gallerybox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding:  1rem;
  }
  .gallerybox .current {
    width: 100%;
    min-height: 70%;
    object-fit: cover;
  }
  .gallerybox .selectionbox {
    width: 100%;
    min-height: 30%;
    padding: 1rem 0rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
  }
  .selectionbox .imageButton {
    width: 75px;
    height: 75px;
    border: none;
    cursor: pointer;
    transition: var(--transition-normal);
    background-color: var(--black);
  }
  .imageButton img {
    width: 100%;
    height: 100%;
    transform: var(--transition-normal);
    object-fit: cover;
  }
  .imageButton:hover img {
    transition: var(--transition-normal);
    opacity: 0.25;
  }
  
}
