.header {
  background-color: var(--white);
  padding: 2rem 2.25rem;
}
.header big {
  color: var(--black);
  letter-spacing: 2px;
}
.header h1 {
  margin-top: 0.75rem;
  font-size: var(--font-size-subtitle);
  color: var(--color-main);
}
.header .imagereel {
  margin-top: 1rem;
  width: 100%;
  padding: 1rem 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.imagereel img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.dmp {
  background-color: var(--white);
  padding: var(--padding-main);
}
.dmp big {
  display: block;
  font-size: var(--font-size-sub);
  text-align: center;
}
.dmp big span {
  color: var(--color-secondary);
}
.dmp .information {
  width: 100%;
  padding: 1rem;
  margin-top: 0.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.textbox h4 {
  font-size: var(--font-size-sub);
  color: var(--color-secondary);
  margin-bottom: 1rem;
}
.textbox p {
  color: var(--grey);
  margin-bottom: 0.75rem;
  font-weight: 200;
  width: 80%;
  line-height: 1.5;
}

.history {
  width: 100%;
  min-height: 80svh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.info {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  padding: 2rem 1rem;
  text-align: center;
}
.info h2 {
  font-size: var(--font-size-subhead);
  color: var(--grey);
}
.info p {
  color: var(--grey);
  line-height: 1.5;
  width: 80%;
  font-weight: 200;
}
.imagebox {
  width: 100%;
  min-height: 100%;
}
.imagebox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoAlt {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  padding: 2rem 1rem;

  background-color: var(--white);
}
.infoAlt h2 {
  font-size: var(--font-size-subhead);
  color: var(--grey);
}
.infoAlt p {
  color: var(--grey);
  font-size: 1rem;
  line-height: 2;
  width: 80%;
}
.infoAlt strong {
  color: var(--color-main);
}

.about {
  width: 100%;
  min-height: 80svh;
  background-color: var(--white);
  display: grid;
  padding: 2rem;
}
.about h2 {
  grid-column: 1/-1;
  width: 100%;

  font-size: var(--font-size-subhead);
  text-align: center;
  color: var(--grey);
}
.about .gridbox {
  width: 100%;
  height: 100%;
  background-color: var(--grey-tone);

  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gridbox h3 {
  font-size: var(--font-size-subhead);
  margin-bottom: 1.25rem;
  color: var(--grey);
  text-align: center;
}
.gridbox p {
  text-align: center;
  width: 90%;
  line-height: 1.75;
  font-size: 1.15rem;
  font-weight: 200;
  color: var(--grey);
}
.about .box {
  width: 100%;
  min-height: 65svh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}
.about .gridbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Tablet */
@media (max-width: 1000px) {
  /* Tablet Styles */
  /* Adjust styles as needed */
  .more h2 {
    font-size: var(--font-size-subhead-mobile);
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
  }

  .container {
    align-items: center;
    justify-content: center;
  }
  .container img {
    width: 100%;
    height: 75svh;
    object-fit: cover;
  }
  .container .infobox {
    left: 0;
    right: 0;
    margin-inline: auto;
    box-shadow: none;

    width: 75%;
    max-height: none;
  }

  .header .imagereel {
    grid-template-columns: 1fr 1fr;
  }
}

/* Cellphone */
@media (max-width: 500px) {
  /* Mobile Styles */
  /* Adjust styles as needed */

  .dmp .information {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .dmp big {
    text-align: center;
  }
  .textbox {
    align-items: center;
    text-align: center;
  }

  .textbox p {
    width: 100%;
    text-align: center;
  }

  .history {
    grid-template-columns: 1fr;
  }
  .info {
    width: 100%;
  }
  .info p {
    width: 100%;
  }
  .imagebox {
    width: 100%;
    min-height: 50svh;
  }
  .imagebox img {
    min-height: 50svh;
  }
  .more {
    padding: var(--padding-main-mobile);
  }

  .container {
    align-items: center;
    justify-content: center;
  }
  .container .infobox {
    width: 100%;
  }
  .infobox p {
    line-height: 1.5;
    color: var(--grey);
    font-weight: 300;
    font-size: var(--font-size-text-mobile);
  }
  .gridbox p {
    font-size: 13px;
  }
  .about .box {
    grid-template-columns: 1fr;
  }
  .about h2 {
    font-size: var(--font-size-subhead-mobile);
  }
  .box .gridbox h3 {
    font-size: 2rem;
  }
  .box .gridbox p {
    width: 100%;
    line-height: 1.75;
    font-size: 0.85rem;
  }

  .header .imagereel {
    grid-template-columns: 1fr;
  }
}
